* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
    /* background: #E9E9EB; */
}

.container {
    max-width: 1290px;
    margin: auto;
}

.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 2rem 0;
}

.py-3 {
    padding: 3rem 0;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 1rem;
    border-bottom: 1px solid rgb(165, 163, 163);
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 7px;
}

.header__right > ul {
    list-style: none;
}

.header__right > ul {
    display: flex;
}

.header__right > ul > li {
    padding: 1rem;
}

.card {
    /* border: 1px solid lightgray; */
    width: 300px;
    height: 340px;
    padding: 0.5rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    /* transition: all 1s ease-in-out; */
}

.card:hover {
    border: 1px solid lightgray;
}


.card__details {
    display: flex;
    flex-direction: column;

}
.card__info > img {
    width: 100%;
    object-fit: contain;
}

.cardinfo__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: small;
}

.card__cuisines {
    padding-top: 0.5rem;
    font-size: smaller;
    color: lightslategray;
}
.items {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
}

